html {
  width: 100%;
  font-size: 15px;
  color:rgba(45, 52, 54,1.0);
}


.title {
  font-size: 1.5rem;
  color: rgba(10, 61, 98,1.0);
}

.subTitle {
  font-size: 1.3rem;
  color: rgba(10, 61, 98,1.0);
}


.error {
  color: rgba(255, 0, 0, 0.8);
}


input[type='button'], input[type='submit'], input[type='reset'] {
  cursor: pointer;
}


textarea {
  resize: vertical;
  width: 100%;
  min-height: 10rem;
}